/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/views/*
/storage/app/public/*
!/storage/app/public/.gitignore
!/storage/app/public/post/images/
storage/logs/*
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
