html,
:host {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
    height: 100% !important;
}

.swap {
    display: block !important;
}
.select-sm {
    line-height: 1rem !important;
}
.input {
    font-size: 14px !important;
    height: unset !important;
}
.input-sm {
    height: 2rem !important;
}
.file-input {
    height: 2.2rem !important;
}
.menu li {
    list-style: none; /* Loại bỏ dấu đầu dòng của list */
    margin-top: 4px;
    margin-bottom: 4px;
}

.menu li > *:not(ul, .menu-title, details, .btn):hover,
.menu li > *:not(ul, .menu-title, details, .btn):focus,
.menu li > *:not(ul, .menu-title, details, .btn):active {
    --tw-bg-opacity: 1;
    background-color: #53CF4B; /* Màu nền khi hover */
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255); /* Màu chữ khi hover */
}

.menu li > details > summary:hover {
    --tw-bg-opacity: 1;
    background-color: #53CF4B; /* Màu nền khi hover */
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255); /* Màu chữ khi hover */
}

.menu li > *:not(ul, .menu-title, details, .btn):active {
    --tw-bg-opacity: 1;
    background-color: #219019; /* Màu nền khi active */
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255); /* Màu chữ khi active */
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: #219019 !important;
    --tw-text-opacity: 1;
    color: rgb(255, 255, 255) !important;
}


/* Thêm màu sắc taiwind */
/* Màu vàng */
.bg-yellow-100 { background-color: #FEF3C7; }
.bg-yellow-200 { background-color: #FDE68A; }
.bg-yellow-300 { background-color: #FCD34D; }
.bg-yellow-400 { background-color: #FBBF24; }
.bg-yellow-500 { background-color: #F59E0B; }
.bg-yellow-600 { background-color: #D97706; }
.bg-yellow-700 { background-color: #B45309; }
.bg-yellow-800 { background-color: #9A7D1F; }
.bg-yellow-900 { background-color: #784C19; }

.text-yellow-100 { color: #FEF3C7; }
.text-yellow-200 { color: #FDE68A; }
.text-yellow-300 { color: #FCD34D; }
.text-yellow-400 { color: #FBBF24; }
.text-yellow-500 { color: #F59E0B; }
.text-yellow-600 { color: #D97706; }
.text-yellow-700 { color: #B45309; }
.text-yellow-800 { color: #9A7D1F; }
.text-yellow-900 { color: #784C19; }

/* Màu tím */
.bg-purple-100 { background-color: #E9D5FF; }
.bg-purple-200 { background-color: #D8B4FE; }
.bg-purple-300 { background-color: #C084FC; }
.bg-purple-400 { background-color: #A855F7; }
.bg-purple-500 { background-color: #9333EA; }
.bg-purple-600 { background-color: #7E22CE; }
.bg-purple-700 { background-color: #6B21A8; }
.bg-purple-800 { background-color: #5B21B6; }
.bg-purple-900 { background-color: #4C1D95; }

.text-purple-100 { color: #E9D5FF; }
.text-purple-200 { color: #D8B4FE; }
.text-purple-300 { color: #C084FC; }
.text-purple-400 { color: #A855F7; }
.text-purple-500 { color: #9333EA; }
.text-purple-600 { color: #7E22CE; }
.text-purple-700 { color: #6B21A8; }
.text-purple-800 { color: #5B21B6; }
.text-purple-900 { color: #4C1D95; }

/* Màu xanh lá */
.bg-green-100 { background-color: #D1FAE5; }
.bg-green-200 { background-color: #A7F3D0; }
.bg-green-300 { background-color: #6EE7B7; }
.bg-green-400 { background-color: #34D399; }
.bg-green-500 { background-color: #10B981; }
.bg-green-600 { background-color: #059669; }
.bg-green-700 { background-color: #047857; }
.bg-green-800 { background-color: #065F46; }
.bg-green-900 { background-color: #064E3B; }

.text-green-100 { color: #D1FAE5; }
.text-green-200 { color: #A7F3D0; }
.text-green-300 { color: #6EE7B7; }
.text-green-400 { color: #34D399; }
.text-green-500 { color: #10B981; }
.text-green-600 { color: #059669; }
.text-green-700 { color: #047857; }
.text-green-800 { color: #065F46; }
.text-green-900 { color: #064E3B; }

/* Màu cam */
.bg-orange-100 { background-color: #FFEDD5; }
.bg-orange-200 { background-color: #FED7AA; }
.bg-orange-300 { background-color: #FDAC44; }
.bg-orange-400 { background-color: #FB923C; }
.bg-orange-500 { background-color: #F97316; }
.bg-orange-600 { background-color: #EA580C; }
.bg-orange-700 { background-color: #C2410C; }
.bg-orange-800 { background-color: #9A3412; }
.bg-orange-900 { background-color: #7C2D12; }

.text-orange-100 { color: #FFEDD5; }
.text-orange-200 { color: #FED7AA; }
.text-orange-300 { color: #FDAC44; }
.text-orange-400 { color: #FB923C; }
.text-orange-500 { color: #F97316; }
.text-orange-600 { color: #EA580C; }
.text-orange-700 { color: #C2410C; }
.text-orange-800 { color: #9A3412; }
.text-orange-900 { color: #7C2D12; }


.table :where(thead, tfoot) {
    white-space: nowrap;
    font-size: 14px !important;
    line-height: 1rem;
    font-weight: 700;
    color: black !important;
}